header, footer
{
    color: rgb(36, 0, 42);
    background-color: rgb(86, 64, 107);
    padding: 0px;
    margin: 0px;
}
nav
{
    padding: 10px;

}
nav a
{
    padding: 5px;
    background-color: rgb(119, 88, 148);
    color: white;
}

nav a:visited
{
    color:antiquewhite;
}

table
{
    background-color: rgb(209, 159, 255);
}
